button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

body {
  animation: fade 0.4s ease;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.botao {
    float: left;
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; 
}

.botao:hover {
    color: white;
    text-decoration: underline;
}
    
.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; 
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

nav {
    position: absolute;
    right: 0;
    top: 110px;
    
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 30px;
}

.produtos li:hover{
    border-color: lightblue;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background: url("../img/bg.jpg");
    text-align: center;
    padding: 20px 10px;
    color: white;
}

